# dependencies
**/node_modules
**/.pnp
**/.pnp.js
**/.yarn/install-state.gz

# misc system files
**/.DS_Store
**/*.pem

# typescript build analysis
**/*.tsbuildinfo

# local env configs
**/.env*.local

# build outputs
**/build
**/out

# test reports
**/coverage

# debug
**/npm-debug.*
**/yarn-debug.*
**/yarn-error.*

# turbo
**/.turbo

# tamagui output
**/.tamagui

# local database
**/dev.db*
